*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #001e4d;
}

.app {
  background:#fff;
  width: 90%;
  max-width: 600px;
  margin: 100px auto 0;
  border-radius: 10px;
  padding: 30px;
}

.app h1{
  font-weight: 25px;
  font-weight: 600;
  color: #001e4d;
  border-bottom: 1px solid #333;
  padding-bottom: 30px 0;
}

.quiz {

}

.quiz h2{
  font-size: 25px;
  color: #001e4d;
  font-weight: 600;
}

.btn{
  background: white;
  color: #222;
  font-weight: 500;
  width: 100%;
  border: 1px solid #222;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover{
  background-color: #222;
  color: #fff;
}


#next-btn{
  background: #001e4d;
  color: #fff;
  font-weight: 500;
  width: 150px;
  border: 0;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 4px;
  cursor: pointer;
  display:none ;
}


/* correct answer = GREEN */
.correct {
  background-color: #4CAF50;   /* green */
  color: white;
  border: 2px solid #2e7d32;
}

/* wrong answer = RED */
/* .incorrect {
  background-color: #f44336;   
  color: white;
  border: 2px solid #b71c1c;
} */

/* disable buttons after click */
.btn:disabled {
  cursor: not-allowed;
  opacity: 0.8;
}




